<div class="row">
  <div class="data">
    <%= link_to(client, :class => 'client') do %>
        <div class="logo"><%= image_tag client.logo.url(:small) %></div>
        <div class="code"><%= client.client_code %></div>
        <div class="name"><%= client.name %></div>
    <%- end %>
  </div>
  <div class="controls">
    <ul>
      <li><%= favable_link(client) %></li>
      <li><%= edit_link client %></li>
      <li><%= destroy_link client %></li>
    </ul>
  </div>
  <div class="clear"></div>
</div>
