<div class="row">
  <div class="data">
    <%= link_to(client, :class => 'client') do %>
        <div class="code"><%= client.client_code %></div>
        <div class="name"><%= client.name %></div>
    <%- end %>
  </div>
  <div class="controls">
    <ul>
      <li><%= favable_link(client) %></li>
      <li><%= link_to 'Edit', edit_client_path(client), :class => 'edit-link tooltip', :title => 'Edit this client' %></li>
      <li><%= link_to 'Destroy', client, :confirm => 'Are you sure?', :method => :delete, :class => 'destroy-link tooltip', :title => 'Delete this client' %></li>
    </ul>
  </div>
  <div class="clear"></div>
</div>
