<div class="row">
  <div class="data">
    <div class="name"><%= entity.name %></div>
    <div class="client"><%= link_to entity.project.client.client_code, client_path(entity.project.client) %></div>
    <%- entity.entity_rows.each do |ent_row| %>
      <div class="entity-row">
        <%= ent_row.entity_key.name %>: <%= render 'entity_rows/value', :entity_row => ent_row %>
      </div>
    <%- end %>
  </div>
  <div class="controls">
    <ul>
      <li><%= edit_link entity %></li>
      <li><%= destroy_link entity %></li>
    </ul>
  </div>
  <div class="clear"></div>
</div>
