<%= render 'form' %>
<%= favable_link(@query_string) unless @results.empty? || @query_string.nil? %>

<div class="controls">
  <%- if can? :create, Client -%>
    <%= link_to 'New Client', new_client_path, :class => 'button', :id => 'new-client' %>
  <%- end -%>
</div>

<div class="clear"></div>
<%- if @results %>
  <div id="results-list">
    <%- if params[:query] && params[:query].first == '$' %>
      <%= render :partial => 'entity', :collection => @results %>
    <%- else %>
      <%= render :partial => 'client', :collection => @results %>
    <%- end %>
  </div>
<%- end %>
