  <% if @entity.errors.any? %>
    <div id="error_explanation">
      <ul>
      <% @entity.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field required">
    <%= f.label :project_id %>
    <%= f.select :project_id, format_for_select(@projects) %>
  </div>

  <div class="field required">
    <%= f.label :name %>
    <%= f.text_field :name %>
  </div>

  <div class="field required">
    <%= f.label :entity_type_id %>
    <%= f.select :entity_type_id, format_for_select(@entity_types) %>
  </div>

  <div class="field required">
    <%= f.label :clearance, "Clearance Level" %>
    <%= f.select :clearance, format_clearance_select %>
  </div>

  <%= field_set_tag "Entity Rows", :class => "collapsible" do %>
    <div class="fieldset-wrapper">
      <%= f.fields_for :entity_rows do |entity_row_form| %>
        <%= render 'entity_rows/form_fields', :f => entity_row_form, :entity_keys => @entity_keys %>
      <%- end %>
      <%= link_to_add_fields "Add another", f, :entity_rows, @entity_keys %>
    </div>
  <%- end %>

  <div class="actions">
    <%= f.submit %>
  </div>
