<div class="entity">
  <div class="name"><%= entity.name %></div>
  <div class="controls">
    <ul>
      <li><%= link_to 'Edit', edit_entity_path(entity), :class => 'edit-link tooltip', :title => 'Edit this entity' %></li>
      <li><%= link_to 'Destroy', entity, :confirm => 'Are you sure?', :method => :delete, :class => 'destroy-link tooltip', :title => 'Delete this entity', :id => "delete-#{entity.friendly_id}" %></li>
    </ul>
  </div>
  <div class="entity-rows">
    <%- entity.entity_rows.each do |entity_row| %>
      <div class="entity-row">
        <%= entity_row.entity_key.name %>: 
        <%= decode_password(entity_row) %>
      </div>
    <%- end %>
  </div>
</div>
