<% content_for :page_title, page_title(@client) %>
<% content_for :actions do %>
  <%- if can? :create, Entity -%>
    <li><%= link_to 'New Entity', new_client_entity_path(@client) %></li>
  <%- end -%>
  <%- if can? :create, Project -%>
    <li><%= link_to 'New Project', new_client_project_path(@client) %></li>
  <%- end -%>
  <%- if can? :update, Project %>
    <li><%= link_to 'Manage Projects', client_projects_path(@client) %></li>
  <%- end -%>
  <%- if can? :edit, Client -%>
    <li><%= edit_link @client %></li>
  <%- end -%>
  <%- if can? :delete, Client -%>
    <li><%= destroy_link @client %></li>
  <%- end -%>
<% end %>
<% content_for :sidebar do %>


  <div class="client-notes">
    <h2>Client Notes:</h2>
    <%= render @client.notes %>
  </div>

  <div class="project-notes">
    <h2>Project Notes:</h2>
    <% @client.projects.each do |project| %>
      <%= render project.notes %>
    <% end %>
  </div>
<% end %>

<h2 class="title"><%= @client.name %></h2>
<%= form_tag('', :method => 'get', :id => 'proj_selector') do %>
  <%= select_tag 'project', options_from_collection_for_select(@client.projects, :id, :name, params[:project]), :include_blank => 'All' %>
  <noscript>
    <%= submit_tag "Filter" %>
  </noscript>
<% end %>

<div class="block">
  <%= render 'clients/client_global_nav', :client => @client %>
  
  <div class="content">
    <h2 class="title">Entities</h2>
    <div class="inner">

      <div class="jump-menu">
        <span class="jump-hover">Jump to section</span>
        <span class="links">
          <%- @entities.each do |name, rows| %>
            <%= link_to name, :anchor => name.tableize.singularize %>
          <%- end %>
        </span>
      </div>

      <div id="entity-list">
        <%- @entities.each do |name, rows| %>
          <div id="<%= name.tableize.singularize %>" class="group">
            <div class="bar">
              <h3><%= name %></h3>
              <%= link_to "Back to top", :anchor => 'wrapper' %>
            </div>
            <div class="clear"></div>
            <%- rows.each do |entity| %>
              <%= render 'row', :entity => entity %>
            <%- end %>
          </div>
        <%- end %>
      </div>
    </div>
  </div>
</div>
