<% content_for :page_title, page_title(@client) %>
<% content_for :title, @client.name %>
<% content_for :header_area, render('projects/filter') %>
<%= render 'sidebar', :client => @client %>

<%= favable_link @client %>

<div class="block">
  <%= render 'clients/tabs', :client => @client %>
  
  <div class="content">
    <h2 class="title">Entities</h2>
    <div class="inner">

      <div class="jump-menu">
        <span class="jump-hover">Jump to section</span>
        <span class="links">
          <%- @entities.each do |name, rows| %>
            <%= link_to name, :anchor => name.tableize.singularize %>
          <%- end %>
        </span>
      </div>

      <div id="entity-list">
        <%- @entities.each do |name, rows| %>
          <div id="<%= name.tableize.singularize %>" class="group">
            <div class="bar">
              <h3><%= name %></h3>
              <%= link_to "Back to top", :anchor => 'wrapper' %>
            </div>
            <div class="clear"></div>
            <%- rows.each do |entity| %>
              <%= render 'row', :entity => entity %>
            <%- end %>
          </div>
        <%- end %>
      </div>
    </div>
  </div>
</div>
