<%= form_for(@user, :html => { :class => 'form' }, :validate => true) do |f| %>

  <%= render "shared/form_errors", :f => f  %>

<section class="columns wat-cf">
  <section class="column left">
    <div class="group required">
      <%= f.label :username, :class=> 'label' %>
      <%= f.text_field :username, :class => 'text_field' %>
      <span class="description">6 to 20 characters</span>
    </div>

    <div class="group required">
      <%= f.label :email, :class => 'label' %>
      <%= f.email_field :email, :class => 'text_field' %>
      <span class="description">Ex: steve@example.com</span>
    </div>

    <div class="group">
      <%= f.label :full_name, :class=> 'label' %>
      <%= f.text_field :full_name, :class => 'text_field' %>
      <span class="description">Ex: Steve Roberts </span>
    </div>
  </section>

  <section class="column right">
    <div class="group">
      <%= field_set_tag "Roles", :class => "collapsible" do %>
        <div class="fieldset-wrapper">
          <%- Role.all.each do |role| %>
            <div>
              <label class="checkbox">
                <%= check_box_tag "user[role_ids][]", role.id, @user.roles.include?(role), :class => 'checkbox' %>
                <%= role.name.titleize %>
              </label>
            </div>
          <%- end %>
        </div>
      <%- end %>
    </div>

    <%= field_set_tag "Password", :class => "collapsible collapsed" do %>
      <div class="fieldset-wrapper">
        <%- unless @user.new_record? %>
          <div class="description">Leave these blank if you don't want to change the user's password.</div>
        <%- end %>
        <div class="group">
          <div class="group">
            <%= f.label :password, :class=> 'label' %>
            <%= f.password_field :password, :class => 'text_field', :validate => false %>
            <span class="description">Leave these blank if you don't want to change the user's password. </span>
          </div>

          <div class="group">
            <%= f.label :password_confirmation, :class=> 'label' %>
            <%= f.password_field :password_confirmation, :class => 'text_field', :validate => false %>
            <span class="description">Confirm your new password</span>
          </div>
        </div>
      </div>
    <%- end %>
  
  </section>
</section>

  <%= render "form_actions", :action => action %>  
<% end %>
