<%= form_for(@user, :html => { :class => 'form' }) do |f| %>
  <% if @user.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@user.errors.count, "error") %> prohibited this user from being saved:</h2>
      <ul>
      <% @user.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="group required">
    <%= f.label :username, :class=> 'label' %>
    <%= f.text_field :username %>
  </div>

  <div class="group required">
    <%= f.label :email, :class => 'label' %>
    <%= f.text_field :email %>
  </div>

  <div class="group">
    <%= f.label :first_name, :class=> 'label' %>
    <%= f.text_field :first_name %>
  </div>

  <div class="group">
    <%= f.label :last_name, :class=> 'label' %>
    <%= f.text_field :last_name %>
  </div>

  <div class="group required">
    <%= f.label :role, :class => 'label' %>
    <%= f.select :role, format_roles_select %>
  </div>

  <div class="group required">
    <%= f.label :clearance, :class => 'label' %>
    <%= f.select :clearance, format_clearance_select %>
  </div>

  <%= field_set_tag "Password", :class => "collapsible" do %>
    <div class="fieldset-wrapper">
      <%- if !@user.new_record? %>
        <div class="description">Leave these blank if you don't want to change the user's password.</div>
      <%- end %>
      <div class="group">
        <%= f.label :password, :class => 'label' %>
        <%= f.password_field :password %>
        <%= f.label :password_confirmation, :class => 'label' %>
        <%= f.password_field :password_confirmation %>
      </div>
    </div>
  <%- end %>
  
  <div class="group">
    <%= f.submit :class => 'button' %>
  </div>
<% end %>
