<% content_for :page_title, "Users" %>
<% content_for :main_action do %>
  <% if can? :create, User %>
    <%= link_to 'New User', new_user_path, :class => 'button' %>
  <% end %>
<%- end %>

<div class="block">
  <%= render 'shared/admin_tabs' %>

  <div class="content">
    <h2 class="title">Users</h2>
    <div class="inner">
      <table id="users" class="table">
        <tr>
          <th class="first">ID</th>
          <th>Role</th>
          <th>Username</th>
          <th>Email</th>
          <th>Name</th>
          <th>Clearance</th>
          <th class="last crud-actions-header">Actions</th>
        </tr>
      <% @users.each do |user| %>
        <tr class="<%= cycle "odd", "even" -%>">
          <td><%= user.id %></td>
          <td><%= user.role %></td>
          <td><%=h user.username %></td>
          <td><%=h user.email %></td>
          <td><%=h user.full_name %></td>
          <td>Level <%= user.clearance %></td>
          <td style="width:5%;" class="crud-actions">
            <%- if can? :edit, user %>
              <%- if user.access_locked? %>
                <%= unlock_link user %>
              <%- end %>
              <%= edit_link user %>
            <%- end %>
            <%- if can? :destroy, user %>
              <%= destroy_link user %>
            <%- end %>
          </td>
        </tr>
      <% end %>
      </table>
    </div>
  </div>
</div>
