<%- links = ['Entity Keys', 'Entity Types', 'Users', 'Audit Log'] %>
<nav class="secondary-navigation">
  <ul class="wat-cf">
    <li class="first odd"><%= active_link_to 'Entity Keys', entity_keys_path %></li>
    <li class="even"><%= active_link_to 'Entity Types', entity_types_path %></li>
    <li class="odd"><%= active_link_to 'Users', users_path %></li>
    <li class="odd"><%= active_link_to 'Roles', roles_path %></li>
    <li class="last even"><%= active_link_to 'Audit Log', audits_path %></li>
  </ul>
</nav>
