<nav id="user-navigation">
  <ul class="wat-cf">
    <li><%= switch_user_select %></li>
    <li><%= link_to "Home", root_path %></li>
    <li><%= link_to "Account", my_account_path %></li>
    <%- if can? :manage, [EntityType, EntityKey, User] %>
      <li><%= link_to 'Admin', '/admin' %></li>
    <%- end %>
    <li><%= link_to 'Logout', destroy_user_session_path, :class => 'logout' %></li>
  </ul>
</nav>
<nav id="main-navigation">
  <ul class="wat-cf"></ul>
</nav>
