<%- if content_for? :main_action %>
  <section id="main-action" class="block">
    <%= yield :main_action %>
  </section>
<%- end %>

<%- if content_for? :actions %>
  <section class="block actions">
    <header><h3>Actions</h3></header>
    <section class="content">
      <ul class="navigation">
        <%= yield :actions %>
      </ul>
    </section>
  </section>
<%- end %>

<%= yield :sidebar %>

<%- unless current_user.favorites.empty? %>
  <section class="block favorites">
    <header>
      <h3>Favorites</h3>
      <%= link_to "View All", favorites_path %>
    </header>
    <section class="content">
      <%= text_field_tag 'fav-filter', nil, :placeholder => 'Filter...' %>
      <ul class="navigation">
        <%= render 'favorites/sidebar' %>
      </ul>
    </section>
  </section>
<%- end %>  
