<%- if content_for? :main_action %>
  <section id="main-action" class="block">
    <%= yield :main_action %>
  </section>
<%- end %>

<%- if content_for? :actions %>
  <section class="block actions">
    <header><h3>Actions</h3></header>
    <section class="content">
      <ul class="navigation">
        <%= yield :actions %>
      </ul>
    </section>
  </section>
<%- end %>

<%= yield :sidebar %>

<%- unless current_user.favorites.empty? %>
  <section class="block favorites">
    <header><h3>Favorites</h3></header>
    <section class="content">
      <%= text_field_tag 'fav-filter', nil, :size => 34, :placeholder => 'Filter...' %>
      <ul class="navigation">
        <% current_user.favorites.each do |fav| %>
          <li><%= link_to_favorite fav %></li>
        <% end %>
      </ul>
    </section>
  </section>
<%- end %>  
