<div class="field required">
  <%= f.label :name %>
  <%= f.text_field :name, :value => '' %>
</div>
<div class="field required">
  <%= f.label :client_code, "Client Code" %>
  <%= f.text_field :client_code, :value => '' %>
</div>
<div class="field">
  <%= f.label :logo %>
  <%= f.file_field :logo %>
</div>
