<%= form_for(@client, :html => { :multipart => true, :class => 'form' }) do |f| %>
  <%= render "shared/form_errors", :f => f  %>

  <%= render 'form_fields', :f => f %>    

  <%- if @client.new_record? -%>
    <%= field_set_tag "First Project", :class => "collapsible" do %>
      <div class="fieldset-wrapper">
        <%= f.fields_for :projects do |project_form| %>
          <%= render 'projects/form_fields', :f => project_form %>
        <% end %>
      </div>
    <% end %>
  <%- end -%>
  
  <%= field_set_tag "Notes", :class => "collapsible" do %>
    <div class="fieldset-wrapper">
      <%= f.fields_for :notes do |note_form| %>
        <%= render 'notes/form_fields', :f => note_form %>
      <% end %>
    </div>
  <% end %>
  
  
  <div class="actions">
    <%= f.submit :class => 'button' %>
  </div>
<% end %>
