<%= form_for(@client, :html => { :multipart => true }) do |f| %>
  <% if @client.errors.any? %>
    <% @client.errors.full_messages.each do |msg| %>
      <script type="text/javascript">
        postNotice("<%= msg %>", 'error');
      </script>
    <% end %>

  <% end %>

  <div class="field">
    <%= f.label :name %><br />
    <%= f.text_field :name %>
  </div>
  <div class="field">
    <%= f.label :client_code %><br />
    <%= f.text_field :client_code %>
  </div>
  <div class="field">
    <%= f.label :logo %>
    <%= f.file_field :logo %>
  <div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
