<% content_for :title, "Clients" %>

<table id="client-list" class="data-table">

  <thead>
    <tr>
      <th>Name</th>
      <th>Client code</th>
      <th></th>
    </tr>
  </thead>

  <tbody>
  <% @clients.each do |client| %>
    <tr>
      <td><%= link_to client.name, client %></td>
      <td><%= client.client_code %></td>
      <td class="controls">
        <ul>
          <li><%= link_to 'Edit', edit_client_path(client), :class => 'edit-link' %></li>
          <li><%= link_to 'Destroy', client, :confirm => 'Are you sure?', :method => :delete, :class => 'destroy-link' %></li>
        </ul>
      </td>
    </tr>
  <% end %>
  </tbody>

</table>

<br />

<%= link_to 'New Client', new_client_path %>
