<% content_for :page_title, page_title(@client) %>
<% content_for :display_title, display_title(@client) %>

<div class="controls">
  <%= link_to 'New Project', new_client_project_path(@client), :class => 'button' %>
  <%= link_to 'New Entity', new_client_entity_path(@client), :class => 'button' %>
  <%= link_to 'Edit', edit_client_path(@client), :class => 'edit-link tooltip', :title => 'Edit this client' %>
  <%= link_to 'Delete', @client, :confirm => 'Are you sure you want to delete this client?', :method => 'delete', :class => 'destroy-link tooltip', :title => 'Delete this client' %>
</div>

<%= link_to 'Manage projects', client_projects_path(@client) %>

<%= form_tag('', :method => 'get', :id => 'proj_selector') do %>
  <%- options = format_for_select(@client.projects, 'All') %>
  <%= select_tag(:project, options_for_select(options, params[:project])) %>
  <noscript>
    <%= submit_tag "Filter" %>
  </noscript>
<% end %>

<div id="entity-list">
  <%= render 'entities/types', :types => @entity_types, :entities => @entities %>
</div>
