<h3><%= @client.name %> (<%= @client.client_code %>)</h3>
<div class="controls">
  <%= link_to 'Edit', edit_client_path(@client) %>
</div>

<!-- Put all of client's projects in select -->
<% options = Array.new(1, ['All', 'all']) %>
<% @projects.each do |project| %>
    <% options.push([project.name, project.id]) %>
<% end %>

<%= form_tag('/', :method => "get") do %>
  <%= select_tag(:project, options_for_select(options, 'all')) %>
<% end %>

