<% content_for :page_title, page_title(@client) %>
<% content_for :display_title, display_title(@client) %>

<div class="controls">
  <%- if can? :create, Project -%>
    <%= link_to 'New Project', new_client_project_path(@client), :class => 'button' %>
  <%- end -%>

  <%- if can? :create, Entity -%>
    <%= link_to 'New Entity', new_client_entity_path(@client), :class => 'button' %>
  <%- end -%>

  <%- if can? :edit, Client -%>
    <%= link_to 'Edit', edit_client_path(@client), :class => 'edit-link tooltip', :title => 'Edit this client' %>
  <%- end -%>

  <%- if can? :delete, Client -%>
    <%= link_to 'Delete', @client, :confirm => 'Are you sure you want to delete this client?', :method => 'delete', :class => 'destroy-link tooltip', :title => 'Delete this client' %>
  <%- end -%>
</div>

<%- if can? :update, Project -%>
  <%= link_to 'Manage projects', client_projects_path(@client) %>
<%- end -%>

<%= form_tag('', :method => 'get', :id => 'proj_selector') do %>
  <%= select_tag 'project', options_from_collection_for_select(@client.projects, :id, :name, params[:project]), :include_blank => 'All' %>
  <noscript>
    <%= submit_tag "Filter" %>
  </noscript>
<% end %>

<div id="entity-list">
  <%- @entities.each do |name, rows| %>
    <div class="group">
      <h3><%= name %></h3>
      <%- rows.each do |entity| %>
        <%= render 'entities/row', :entity => entity %>
      <%- end %>
    </div>
  <%- end %>
</div>

<div class="clearer"></div>
<div id="notes">
  <h2>Client Notes:</h2>
  <%= render @client.notes %>
</div>

<div id="project-notes">
  <h2>Project Notes:</h2>
  <% @client.projects.each do |project| %>
    <%= render project.notes %>
  <% end %>
</div>
