<p>
  <b>Name:</b>
  <%= @client.name %>
</p>

<p>
  <b>Client code:</b>
  <%= @client.client_code %>
</p>

<!-- Print out all of client's projects -->
<% @projects.each do |project| %>
  <div class="project">
    <%= project.name %>
  </div>
<% end %>


<%= link_to 'Edit', edit_client_path(@client) %> |
<%= link_to 'Back', clients_path %>
