<div class="entity-type-alias-field">
  <div class="field">
    <%= f.text_field :name, :placeholder => 'Alias...', :class => 'text_field', :validate => false %>
  </div>

  <div class="hide delete-message">
    <em>This row will be deleted on save</em>
  </div>

  <%- unless f.object.new_record? %>
    <div class="remove">
      <a href="javascript:void(0);" id="delete-alias-<%= f.object.name.to_s.downcase %>" class="destroy-link tooltip toggle" title="Delete '<%= f.object.name.to_s %>'">Delete <%= f.object.name.to_s.downcase %></a>
      <a href="javascript:void(0);" class="hide toggle undo tooltip" title="Alias <%= f.object.name.to_s.downcase %> will be deleted on save"><em>Undo?</em></a>
      <%= f.hidden_field :_destroy %>
    </div>
  <%- end %>
</div>
