<% content_for :page_title, "Entity Types" %>
<% content_for :actions do %>
  <% if can? :create, EntityType %>
    <li><%= link_to 'New Entity Type', new_entity_type_path %></li>
  <% end %>
<%- end %>

<div class="block">
  <%= render 'shared/admin_tabs' %>

  <div class="content">
    <h2 class="title">Entity Types</h2>
    <div class="inner">
      <table class="table">
        <tr>
          <th class="first">ID</th>
          <th>Name</th>
          <th>Aliases</th>
          <th>Has a Form Template?</th>
          <th class="last crud-actions-header">Actions</th>
        </tr>
      <% @entity_types.each do |entity_type| %>
        <tr class="<%= cycle "odd", "even" -%>">
          <td><%= entity_type.id %></td>
          <td style="width:20%;"><%= entity_type.name %></td>
          <td>
            <% entity_type.entity_type_aliases.each do |alli| %>
              <%= alli.name + ", " %>
            <% end %>
          </td>
          <td style="width:20%;">
            <%- if entity_type.form_configs.count > 1 -%>
              Yes
            <%- else -%>
              No
            <%- end -%>
          </td>
          <td style="width:5%;" class="crud-actions">
            <%- if can? :edit, EntityType -%>
              <%= edit_link entity_type %>
            <%- end -%>
            <%- if can? :destroy, EntityType -%>
              <%= destroy_link entity_type %>
            <%- end -%>
          </td>
        </tr>
      <% end %>
      </table>
    </div>
  </div>
</div>
