<div class="entity">
  <div class="name"><%= entity.name %></div>
  <div class="controls">
    <ul>
      <li><%= edit_link entity %></li>
      <li><%= destroy_link entity %></li>
    </ul>
  </div>
  <div class="entity-rows">
    <%- entity.entity_rows.each do |entity_row| %>
      <div class="entity-row">
        <%= entity_row.entity_key.name %>: 
        <%= render 'entity_rows/value', :entity_row => entity_row %>
      </div>
    <%- end %>
  </div>
</div>
