<% content_for :page_title, "Audit Log" %>

<div class="block">
  <%= render 'shared/admin_tabs' %>

  <div class="content" id="audits">
    <h2 class="title">Audit Log</h2>
    <div class="inner">
      <div class="search">
        <%= render 'search_form' %>
      </div>
      <table id="audits" class="table">
        <tr>
          <th class="first">Time</th>
          <th class="last">Message</th>
        </tr>
      <% @audits.each do |audit| %>
        <tr class="<%= cycle "odd", "even" -%>">
          <td><%= audit.created_at.to_s(:short) %></td>
          <td><%= audit.message %></td>
        </tr>
      <% end %>
      </table>
    </div>
  </div>
</div>
