<%= form_for([@client, @project]) do |f| %>
  <% if @project.errors.any? %>
    <% @project.errors.full_messages.each do |msg| %>
      <script type="text/javascript">
        postNotice("<%= msg %>", 'error');
      </script>
    <% end %>
  <% end %>
  
  <%= render 'form_fields', :f => f %>
  
  <div class="actions">
    <%- if @project.new_record? %>
      <%= f.submit 'Create project', :class => 'button' %>
    <%- else %>
      <%= f.submit 'Update project', :class => 'button' %>
    <%- end %>
  </div>
<% end %>
