<%= form_for([@client, @project]) do |f| %>
  <% if @project.errors.any? %>
    <% @project.errors.full_messages.each do |msg| %>
      <script type="text/javascript">
        postNotice("<%= msg %>", 'error');
      </script>
    <% end %>
  <% end %>
  
  <%= render 'form_fields', :f => f %>

  <%= field_set_tag "Notes", :class => "collapsible" do %>
    <div class="fieldset-wrapper">
      <%= f.fields_for :notes do |note_form| %>
        <%= render 'notes/form_fields', :f => note_form %>
      <% end %>
    </div>
  <% end %>

  
  <div class="actions">
    <%- if @project.new_record? %>
      <%= f.submit 'Create project', :class => 'button' %>
    <%- else %>
      <%= f.submit 'Update project', :class => 'button' %>
    <%- end %>
  </div>
<% end %>
