<%= form_for([@client, @project], :html => { :class => 'form' }, :validate => true) do |f| %>
  <%= render "shared/form_errors", :f => f  %>

  <%= render 'form_fields', :f => f %>

  <%= field_set_tag "Notes", :class => "collapsible" do %>
    <div class="fieldset-wrapper">
      <%= f.fields_for :notes do |note_form| %>
        <%= render 'notes/form_fields', :f => note_form %>
      <% end %>
    </div>
  <% end %>

  <%= render "form_actions", :action => action %>  
<% end %>
