<%= content_for :page_title, "Projects for #{@client.name}" %>
<%= content_for :display_title, "Projects for #{@client.name}" %>

<table>
  <tr>
    <th>Project Name</th>
    <th>Domain</th>
    <th colspan="2">Actions</th>
  </tr>

<%- can_delete = @projects.count > 1 ? true : false %>
<% @projects.each do |project| %>
  <tr>
    <td><%= project.name %></td>
    <td><%= project.domain %></td>
    <td><%= link_to 'Edit', edit_project_path(project), :class => 'edit-link tooltip', :title => 'Edit this project' %></td>
    <%- if can_delete %>
      <td><%= link_to 'Delete', project, :confirm => 'Are you sure?', :method => :delete, :class => 'destroy-link tooltip', :title => 'Delete this project' %></td>
    <%- end %>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Project', new_client_project_path %>
