<%= content_for :page_title, "Editing Role: #{@role.name}" %>

<section class="block">
  <%= render 'shared/admin_tabs' %>

  <section class="content">            
    <h2 class="title"><%= t("web-app-theme.edit", :default => "Edit") %> Role</h2>
    <section class="inner">
      <%= form_for @role, :url => role_path(@role), :html => { :class => :form } do |f| -%>
        <%= render "form", :f => f, :action => 'Update' %>
      <% end -%>
    </section>
  </section>
</section>
