<div class="entity-row-field">
  <div class="field key required">
    <%- if f.object.entity_key_id.nil? %>
      <%= f.collection_select :entity_key_id, EntityKey.all, :id, :name %>
    <%- else %>
      <%= f.hidden_field :entity_key_id %>
      <div class="predetermined"><%= EntityKey.find(f.object.entity_key_id).name %></div>
    <%- end %>
  </div>

  <div class="field value">
    <%= f.text_field :value, :placeholder => config.nil? ? '' : config.placeholder %>
  </div>

  <%= f.hidden_field :form_config_id %>

  <%- unless f.object.new_record? %>
    <div class="hide delete-message">
      <em>This row will be deleted on save</em>
    </div>
    <div class="remove">
      <a href="javascript:void(0);" class="destroy-link tooltip toggle" title="Delete this row">Delete</a>
      <a href="javascript:void(0);" class="hide toggle undo tooltip" title="This row will be deleted on save"><em>Undo?</em></a>
      <%= f.hidden_field :_destroy %>
    </div>
  <%- end %>
</div>
