<%= form_for(@entity_key, :html => { :class => 'form' }, :validate => true) do |f| %>
  <%= render "shared/form_errors", :f => f  %>

  <div class="group required">
    <%= f.label :name, :class => 'label' %>
    <%= f.text_field :name, :class => 'text_field' %>
  </div>

  <div class="checkbox group">
    <%= f.label :mask, 'Mask these types of entries?', :class => 'label' %>
    <%= f.check_box :mask %><br/>
    <span class="description">Masking simply hides these values from view. Useful for passwords, etc.</span>
  </div>

  <%= render "form_actions", :action => action %>  

<% end %>
