<% content_for :page_title, "Entity Keys" %>
<% content_for :main_action do %>
  <% if can? :create, EntityKey %>
    <%= link_to 'New Entity Key', new_entity_key_path, :class => 'button' %>
  <% end %>
<% end %>

<section class="block">
  <%= render 'shared/admin_tabs' %>

  <section class="content">
    <h2 class="title">Entity Keys</h2>
    <section class="inner">
      <table class="table">
        <tr>
          <th class="first">ID</th>
          <th>Name</th>
          <th>Masked</th>
          <th class="last crud-actions-header">Actions</th>
        </tr>
      <% @entity_keys.each do |entity_key| %>
        <tr class="<%= cycle "odd", "even" -%>">
          <td><%= entity_key.id %></td>
          <td><%= entity_key.name %></td>
          <td><%= entity_key.mask ? "Yes" : "No" %></div>
          <td style="width:5%;" class="crud-actions">
            <%= edit_link entity_key %> 
            <%= destroy_link entity_key %>
          </td>
        </tr>
      <% end %>
      </table>
    </section>
  </section>
</section>
