<% content_for :page_title, "Entity Keys" %>
<% content_for :actions do %>
  <% if can? :create, EntityKey %>
    <li><%= link_to 'New Entity Key', new_entity_key_path, :class => '' %></li>
  <% end %>
<% end %>

<div class="block">
  <%= render 'shared/admin_tabs' %>

  <div class="content">
    <h2 class="title">Entity Keys</h2>
    <div class="inner">
      <table class="table">
        <tr>
          <th class="first"></th>
          <th>Name</th>
          <th>Masked</th>
          <th class="last"></th>
        </tr>
      <% @entity_keys.each do |entity_key| %>
        <tr class="<%= cycle "odd", "even" -%>">
          <td><%= entity_key.id %></td>
          <td><%= entity_key.name %></td>
          <td><%= entity_key.mask ? "Yes" : "No" %></div>
          <td><%= edit_link entity_key %>
          <%= destroy_link entity_key %></td>
        </tr>
      <% end %>
      </table>
    </div>
  </div>
</div>
